<a href="https://colab.research.google.com/github/zfoxc/ueh25-ktlt-eco/blob/main/buoi02_250816/bai_tap_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + r)**n)
print(round(fv, 2))

194.87

In [ ]:
amount = 100
interest = 10
years = 7

future_value = amount * ((1 + 0.01 * interest)**years)
print(round(future_value, 2))

194.87

In [ ]:
print ("Hello world")
display("hello, world")

Hello world

'hello, world'

In [ ]:
#comment

In [ ]:
score =80
if score >=60:
 print ("pass")

pass

In [ ]:
# Python Variables
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print (x, price, word)
print (f'x= {(x)}, price={(price), type(price)}, word={'word)', type(word)}')

SyntaxError: unmatched ')' (ipython-input-69553227.py, line 10)

In [ ]:
x= 2
y= x+1
print(y)

3

In [ ]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [ ]:
help(python_version)

Help on function python_version in module platform:

python_version()
    Returns the Python version as string 'major.minor.patchlevel'

    Note that unlike the Python sys.version, the returned value
    will always include the patchlevel (it defaults to 0).

In [ ]:
x = "Hello World"   # str
print (x, type(x))
a = 2               # int
print (a, type(a))
b = 2.5             # float
print (b, type(b))
c = 7j              # complex
print (c, type(c))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"]           # list
x.append('hello')
print (x, type(x), x=[1:3])

a = ("apple", "banana", "cherry")           # tuple
print (a, type(a), x=[1:3])

b = range(6)       # range
print (b, type(b), x=[1:3])

c = {"name": "Tom", "age": 20}              # dictipnary
print (c, type(c), x=['age'])

d = {"apple", "banana", "cherry"}           # set
d.add('hello')
print (d, type(d))

e = frozenset({"apple", "banana", "cherry"}) # frozenset
print (e, type(e))

SyntaxError: invalid syntax (ipython-input-2361023663.py, line 3)

In [ ]:
x = True                        # bool
print (x, type(x))

True <class 'bool'>

In [ ]:
x = b"Hello"                    # bytes
print (x, type(x))

b'Hello' <class 'bytes'>

In [ ]:
x = bytearray(5)                # bytearray
print (x, type(x))

bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))        # memoryview
print (x, type(x), hex(id(x)))

<memory at 0x7a5c72cf9c00> <class 'memoryview'> 0x7a5c72cf9c00

In [ ]:
x = None                        # NoneType
print (x, type(x))

None <class 'NoneType'>

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [ ]:
x = 2     # int
y = 3.4   # float
z = 7j+3   # complex

print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
(3+7j) <class 'complex'>

In [ ]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [ ]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [ ]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm / 100
BMI = (weight_kg / (height_m ** 2))

print("Your BMI is: " + str(round(BMI, 1)))

Your BMI is: 20.8

In [ ]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [ ]:
# Future Value
pv = 100
r = 0.1
n = 7
#process
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [ ]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
#process
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

## Cấu Trúc dữ liệu

In [ ]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))
x = ("apple", "banana", "cherry") #tuple
print(x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))
x = {"apple", "banana", "cherry"} #set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>

In [ ]:
#List: có thể sửa được
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [ ]:
#Tuples: Không sửa không thêm
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [ ]:
#Set: tập hợp, không được trùng nhau, có thể add thê, được
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [ ]:
#Dictionary{key:value}
k = { 'EN':'English'
,
'FR':'French' }
print(k['EN'])

English

In [ ]:
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

In [ ]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
  print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [ ]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
  print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [ ]:
# Python Sets
account_numbers = set([acc[1] for acc in accounts]) #set comprehensive {1001, 1002, 1003}
print("account_number")
new_account_number = 1004
if new_account_number not in account_numbers:
  print("account number", new_account_number, "is not in use.")

account_number
account number 1004 is not in use.

In [ ]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
  print("Account number:", account_number)
  print("Account name:", account_info["name"])
  print("Account balance:", account_info["balance"])
  print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

In [ ]:
# Python Dictionaries
accounts = {
    "1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
    "1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
    "2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}
}
for acc_num, acc_info in accounts.items():
  print('-'*50)
  print("Account number:", acc_num)
  print("Account name:", acc_info['name'])
  print("Account balance:", acc_info['balance'])
  print("Account type:", acc_info['type'])

--------------------------------------------------
Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
--------------------------------------------------
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
--------------------------------------------------
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## If, for, while

In [ ]:
# Python if
score = 80
if score >=60 :
  print("Pass")

Pass

In [ ]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

Pass

In [ ]:
score = 95
if score >= 90 :
  print("A")
elif score >=60 : #score <90 and >= 60
  print("Pass")
else: #score <60
  print("Fail")

A

In [ ]:
# Python if elif else
score = 90
grade = ""
if score >=90:
  grade = "A"
elif score >= 80: #[80,90)
  grade = "B"
elif score >= 70:#[70,80)
  grade = "C"
elif score >= 60: #[60,70)
  grade = "D"
else: #<60
  grade = "E"
print(grade)

A

In [ ]:
for i in range(1,6): #range(1->5)
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1,6): #range(1->5)
  print(i, end ='')

12345

In [ ]:
# for loops
for i in range(1,10):
  for j in range(1,10):
    print(f'{i} * {j} = {i*j}')
  print('-'*50)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
--------------------------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------------------------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------------------------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------------------------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------------------------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------------------------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------------------------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------------------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------------------------------------